* {
    box-sizing: border-box;
}

h1 { font-size: 2.5em; font-weight: bold;}
h2 { font-size: 2.2em; font-weight: bold;}
h3 { font-size: 1.9em; font-weight: bold;}
h4 { font-size: 1.6em; font-weight: bold;}
h5 { font-size: 1.3em; font-weight: bold;}
h6 { font-size: 1.1em; font-weight: bold;}

li {
    list-style-type:disc;
    margin-top: 8px;
}

ul {
    margin-left: 30px;
    margin-top: 15px;
}

/*================================================*/
.container {
    max-width: 1024px;
    margin: 0 auto 0.2em auto;
}

.box-shadow {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2), 5px 5px 5px rgba(0,0,0,0.2);
}
.bold-link {
    font-weight: bold;
    text-decoration: underline;
}
.bold-link:hover {
    color: rgb(57, 0, 57);
}

.heading {
    margin-bottom: 1em;
}

/*================================================*/
.header {
    display: flex;
    justify-content: space-between;
}

.banner-top {
    display: flex;
    overflow: hidden;
}

/*================================================*/
.main-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FDC92E;
    min-height: 2em;
}
.main-menu-item {
    display: flex;
    align-items: center;
    min-height: 2em;
    background-color: #FDC92E;
    padding: 0em 1em 0em 1em;
    font-weight: bold;
}
.main-menu-item:hover{
    background-color: rgb(57, 0, 57);
    color: white;
}

/*================================================*/
.products-line {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

@media (max-width: 480px) {
    .container.header {
        flex-direction: column;
    }
}

@media (max-width: 1023.98px) {
    .products-line {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .banner-top {
        width: 100%;
        justify-content: center;
    }

    .faq-title h1 {
        font-size: 1.5rem;
    }

    .main-menu {
        flex-direction: column;
    }

    .info-container {
        flex-wrap: wrap;
    }

    .info-image {
        margin: 0 auto;
        text-align: center;
    }

    .info-image img {
        max-width: 150px;
    }

    .footer ul {
        display: flex;
        flex-direction: column;
    }
}

.product-card {
    padding: 15px;
}

.product-card-image {
    text-align: center;
    margin-bottom: 1em;
}
.product-card-image img {
    max-width: 280px;
}
.product-card img {
    /* max-width: 350px; */
}
.product-title {
    text-align: center;
    padding: 25px 5px 5px 5px;
}
.product-description {
    padding: 5px;
}
.p-description {
    /* height: 120px; */
}
em {
    float: right;
    font-weight: bold;
    font-style: normal;
}
.description-list-title {
    font-weight: bold;
    font-style: normal;
}
.product-description ul {
    margin-left: 30px;
    margin-top: 15px;
}
.product-description li {
    list-style-type:disc;
    margin-top: 8px;
}

/*================================================*/
.info-container {
    display: flex;
    padding: 30px 15px;
    gap: 30px;
}
.info-container em {
    float: unset;
}
.info-image {
    width: 300px;
    flex-shrink: 0;
}
.info-container-details {
    padding-left: 25px;
}
.btn-order {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 25px;
    border-radius: 10px;
    padding: 13px;
    font-weight: bold;
    background-color: #FDC92E;
    border-color: #FDC92E;
}
.btn-order:hover {
    background-color: #3a2f0c;
    color: white;
}

/*================================================*/
.faq-title {
    margin-top: 5px;
    padding: 15px;
    background:#CFC37E;
    opacity: 0.7;
    backdrop-filter: blur(2px);
}
.faq-content {
    margin-top: 25px;
}

.footer{
width: 100%;
background:#000;
text-align:center;

}

.footer .row{
width:100%;
margin:5px;
padding:5px;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
margin-left: 0;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}
    
    
