.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1024px;
    margin-right:auto;
    margin-left:auto;
}

.banner-top {
    display: flex;
}